.card-inscription{
    @extend .card;

    &--big-title{
        font-size: $base-size;
        text-align: center;
        padding: 30px;
        font-weight: bold;
    }
    &--input{
        text-align: center;
        font-size: 22px;
        text-transform: uppercase;
    }
    &--inscription-buton{
        font-size: 32px;
        padding: 20px;
        margin-left: 25px;
        border: none;
        width: 90%;
        background-color: #c4c4c4;
        height: 60px;
        color: #fff;
        margin-bottom: 25px;
        cursor: pointer;
        
}
}
@media (max-width: 999px) {
    .card {
        padding-top:25%;
    }

}