.card-doc{
@extend .card;

    &--big-title{
        font-size: $category;
        text-align: center;
        padding: 30px;
        font-weight: bold;
    }
    
}
@media (max-width: 999px) {
    .card {
        padding-top:25%;
    }

}