.card-with-text {
    @extend .card;


    &--title{
        font-size: $card-desc;
        padding: 20px;
        font-weight: bold;
    }
    &--main{
        padding: 0px 20px 0px 20px;
    }
    &--signature{
        text-align: end;
        font-size: 20px;
        font-weight: bold;
        padding: 30px;

    }
    
}
@media (max-width: 999px) {
    .news {
        padding-top:25%;
    }

}