.card{
    min-height:350px;
    margin:10px;
    background-color: rgba($purple,0.5);
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;

    &--title{
        font-size: $card-desc;
        padding: 30px;
        font-weight: bold;
    }
    &--main{
        text-align: center;
        background-color: $main;
    }
    &--main-bouton{
        margin: 30px 10px;
        width: 200px;
        height: 150px;
        vertical-align: middle;
        font-size: 20px;
        background-color: $white;
        color: $black;
    }
    
}
@media (max-width: 999px) {
    .news {
        padding-top:25%;
    }

}