.card-annonce{
    @extend .card;

    &--big-title{
        font-size: $card-desc;
        text-align: center;
        padding: 30px;
        font-weight: bold;
    }
    &--second-title{
        text-align: center;
        font-size: 22px;
        text-transform: uppercase;
    }
    &--description{
        text-align: center;
        font-size: 62px;
        padding-top: 30px;
        font-weight: bold;
    }
    
}
@media (max-width: 999px) {
    .card {
        padding-top:25%;
    }

}